@font-face {
    font-family: OpenSand sans-serif;
    src: url(/css/fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Roboto sans-serif;
    src: url(/css/fonts/Roboto/Roboto-Regular.ttf);
}
th {
    color:brown; 
    font-family: "Roboto";
    font-style: italic;
    font-size: 30px;
    
}
h1 {
    color:brown;
    font-family: "OpenSand";
}
.map { 
    width: 200px;
    margin: 20px;
    float: left;
}
h2 {
    font-family: "Roboto";
}
h6 {
    font-family: "Roboto";
}
p {
    font-family: "Roboto";
    margin: 10 10;
}
td {
    font-family: "Roboto";
}
html {
background-color: yellowgreen;
}
.akció {
    text-align: center;

}
.kínálat {
    text-align: center;
}
.elérhetőség {
    text-align: center;  
}
.főcím {
    text-align: center;
}
 

.ez {
    display: inline-block;
   width: 130px;
   height: 30px;
   border: solid; 
   background: yellow;
   margin-right: 150px;
   margin-left: 150px;
   border-color: yellow;
   border-radius: 10px;
   box-shadow: 0 0 7px brown;
   color: brown;
   text-align: center;
   position: sticky;
   position: -webkit-sticky;
   top: 0;

  
}
a:hover {
    background-color: yellowgreen;
}
#étlap1 tr:nth-child(odd){
    background-color: yellow;
    padding: 10px;
    border-bottom: 1px solid yellowgreen;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    
 }
#étlap2 tr:nth-child(odd) {
        background-color: yellow;
        padding: 10px;
        border-bottom: 1px solid yellowgreen;
        text-align: left;
        width: 100%;
    border-collapse: collapse;
    }
#étlap3 tr:nth-child(odd) {
            background-color: yellow;
            padding: 10px;
            border-bottom: 1px solid yellowgreen;
            text-align: left;  
            width: 100%;
            border-collapse: collapse;  
}
#étlap {
    width: 100%;
    border-collapse: collapse;
}
.float {
    float: right;
    margin-left: 15px;
    width: 200px;
    height: 200px;
    overflow: auto;
}
.clearfix {
    
    border: solid yellow;
    overflow: auto;
    
}
div {
    border: 3px solid yellow;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 7px brown;
    margin: 20px 20px;
}
#első {
   
   
    
}